:root {
  --bg: #0d0c22;
  --text: white;
  --bgSof: #2d2b42;
  --textSof: #e5e5e5;
  --btn: #3676fd;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 153.6rem;
  margin: auto;
  padding: 0 5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



@media (max-width:153.6rem){
  .container{
    width: 136.6rem;
  }
}

@media (max-width:136.6rem){
  .container{
    width: 128rem;
  }
}

@media (max-width:128rem){
  .container{
    width: 102.4rem;
    padding: 0 2rem;
  } 
}

@media (max-width:102.4rem){
  .container {
      width: 76.8rem;
  };
}

@media (max-width:76.8rem){
  .container{
    width: 64rem;
  }
}

@media (max-width:64rem){
  .container{
    width: 48rem;
  }
}